@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

html, body, .root {
    height: 100%;
}

body {
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
}

body, .app {
    background: black;
}

h3 {
    letter-spacing: 0;
    font-weight: 400;
}

.app {
    display: flex;
    align-content: center;
    flex-direction: column;
    align-content: center;
}

.header {
    background-color: black;
    color: whitesmoke;
    width: 100%;
    display: flex;
    justify-content: center
}

.header h1 {
    text-align: center;
    font-size: 48px;
    font-style: italic;
    font-weight: 300;
    line-height: 0.75;
    letter-spacing: -1.5px;
}

.mapBox {
    color: whitesmoke;
    width: 100%;
    height: 400px;
}

.map {
    width: 100%;
    height: 100%;
}

.round {
    border-radius: 50px;
}

.footer {
    background-color: #101010;
    width: 100%;
    color: whitesmoke;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}

.details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #1f2121;
    width: 40%;
    margin: 20px;
    border-radius: 10px;
}

.details h3 {
    text-align: center;
    width: 100%;
}

.places {
    background-color: #1f2121;
    width: 60%;
    margin: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.places h3 {
    text-align: center;
    width: 100%;
}

.place {
    margin: 5px;
    padding: 15px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.tag {
    text-align: center;
    margin: 5px;
    padding: 15px;
    display: flex;
    max-height: 50px;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.smallLabel {
    font-weight: 300;
    font-size: 14px;
    width: 100%;
    text-align: center;
    line-height: 1;
}

.bcRed {
    background: #c60c30;
}

.bcBlue {
    background: #00a1de;
}

.bcBrown {
    background: #62361b;
}

.bcGreen {
    background: #009b3a;
}

.bcOrange {
    background: #f9461c;
}

.bcPurple {
    background: #522398;
}

.bcPink {
    background: #e27ea6;
}

.bcYellow {
    background-color: #f9e300;
}

.gs20 {
    filter: grayscale(20%);
}

.gs40 {
    filter: grayscale(40%);
}

.gs60 {
    filter: grayscale(60%);
}

.gs80 {
    filter: grayscale(80%);
}

.selected{
    border-left: 35px solid whitesmoke;
}

/*Media Rule for 320 width*/
@media only screen and (max-width: 320px) {

    .header h1{
        font-size: 36px;
    }

    .footer{
        flex-wrap: wrap-reverse;
    }

    .details {
        width: 100%;
        font-size: 10px;
        padding: 10px;
    }

    .smallLabel{
        font-size: 8px;
    }

    .places {
        width: 100%;
        font-size: 10px;
    }

    .mapBox{
        height:300px;
    }
}

/*Media Rule for 768 width*/
@media only screen and (min-width: 321px) and (max-width: 768px){

    .header h1{
        font-size: 36px;
    }

    .footer{
        flex-wrap: wrap-reverse;
    }

    .details {
        width: 100%;
        font-size: 14px;
        padding: 10px;
    }

    .smallLabel{
        font-size: 12px;
    }

    .places {
        width: 100%;
        font-size: 14px;
    }

    .mapBox{
        height:300px;
    }
}